body {
  background: #444444;
  padding: 2em;
  text-align: center;
}

.App {
  align-items: flex-start;
  background-color: #FF554C;
  background-image: url(background.png);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  margin: 0 auto;
  height: 450px;
  width: 800px;
  text-align: center;
}

.pokemon {
  margin-left: 100px;
  max-width: 300px;
  filter: brightness(0%);
  cursor: pointer;
}

.reveal {
  filter: brightness(100%);
  transition: 0.5s all;
}

.next-pokemon-button {
  text-align: center;
  width: 300px;
  height: 30px;

}
